{% extends "base.html" %}

<div>
    <img src="{{ url_for('static', filename='imgs/eCTF.png') }}" alt="Embedded Capture the Flag Logo" width="400px">
</div>


<h1>MITRE - eCTF</h1>

{% block main %}

<div class="main_con">
    <h2>MITRE</h2>
    
    <p>
        The Embedded Capture the Flag (eCTF) Competition, run by MITRE, 
        is a challenge focused on designing and attacking secure embedded systems. 
        Participants first work in teams to create a secure system for an embedded device based on specific requirements. 
        In the second phase, teams analyze and attack each other’s systems, testing the security of their designs. 
        This competition offers a hands-on experience in both building and breaking embedded security systems, 
        with real physical devices involved.
    </p>
    <div class="gallery-item" id="timeline">
        <img src="{{ url_for('static', filename='imgs/phase.png')}}" alt="Westchester County Board of Legislator Logo" style="height: 250px;" >
      </div>

    <p>For more information about the competition eCTF - Embedded Capture the Flag - please visit the website
        <a href="https://ectf.mitre.org/"> here </a>.
    </p>

    <p> And for more information on the MITRE company, please visit their website
        <a href="https://www.mitre.org/">here</a>.
    </p>


</div>



{% endblock %}