html{
    width: 100%;
}

body {
    background-color: #fffef5;
    font-family: "Barlow Semi Condensed", sans-serif;
    width: 80%;
    margin-left: 10%;
    #fffef5
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,h2,h3,h4,h5,h6 {
    color: #A43BA7;
    font-family: "Barlow Semi Condensed", sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}

#WiCysLogo{
    display: flex;
    justify-content: start;
    width: 150px;
    height: auto;
    left: 0;
}

#WiCysLogo img{
    max-width: 100%;
}

#headTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{

}

main{

}

footer{
    display: flex;
    font-family: Roboto, sans-serif;

}

.gallery {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 1000px;
    width: 100%;
    align-items: center;
  }
  
  .gallery-item {
    overflow: hidden;
    border-radius: 8px;
    justify-content: right;
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .gallery-item img:hover {
    transform: scale(1.05);
  }

  iframe {
    width: 100%;          /* Makes iframe take full width of its container */
    height: 500px;        /* Sets a fixed height for the iframe */
    border: none;         /* Removes the default border */
    border-radius: 10px;  /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
    overflow: hidden;     /* Hides any overflow content */
}