{% extends "base.html" %}

{% block main %}
    <div class="main_con">
        <img src="insert" alt="insert">
    </div>

{% block main %}
    <div class="main_con">
        <h1>Mission Statement</h1>
        <p>insert</p>
    </div>

{% block main %}
    <div class="main_con">
        <h2>Sponsors</h2>
        <p>insert</p>
        <small>insert</small>
    </div>

{% block main %}
    <div class="main_con">
        <h3>Collaborators</h3>
        <p>insert</p>
        <small>insert</small>
    </div>

{% endblock %}