<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/style.css" type="text/css">
        <title>{{ name }}</title>
    </head>

    <body>
        <header>
            <img src="static/imgs/WiCys.png" alt="Women in Cybersecurity Logo">
            <div>
                <h1>e-Mitre Pace Team</h1>
                {% block header %}
                {{ name }}
                {% endblock %}
            </div>
        </header>

        <nav>
            <ul>
                {% for page in nav_items %}
                    <li class="nav-li">
                        <a class="nav-link" href="{{ page.url }}">{{ page.name }}</a>
                    </li>
                {% endfor %}

            </ul>
        </nav>

        <main>
            <div class="main_content">
                {% block main_con %}

                {% endblock %}
            </div>
        </main>

        <footer>
            <img src="static/imgs/WiCys.png" alt="Women in Cybersecurity Logo">

            <div id="footer_contact">
                <h5>Contact Info</h5>
                <a href ="mailto:lellrodt@pace.edu">Main Advisor</a>
            </div>
            <div id="site_link">
                <a href ="/signup.html">Sign up</a>
                <a href ="/team.html">Teams</a>
                <a href ="/aboutus.html">About Us</a>
                <a href ="/sitemap.html">Site Map</a>
            </div>
        </footer>
    </body>
</html>