{% extends "base.html" %}

<div>
    <img src="{{ url_for('static', filename='imgs/eCTF.png') }}" alt="Embedded Capture the Flag Logo" width="400px">
</div>


<h1>MITRE - eCTF</h1>

{% block main %}

<div class="main_con">

    <p>For more information about the competition eCTF - Embedded Capture the Flag - please visit their website
        <a href="https://ectf.mitre.org/"> here </a>.
    </p>

    <p> And for more information on the MITRE company, please visit their website
        <a href="https://www.mitre.org/">here</a>.
    </p>


</div>



{% endblock %}