{% extends "base.html" %}  <!-- Home is a child of base, so it copies everything , unless it's redifined -->
{% block main %}
    <div class="main_con">
     <img src ="insert" alt="Insert">
     <h2>Insert paragraph</h2>
     <iframe src="url" title="Sign Up Form"></iframe>

     <div class="gallery">
        <div class="gallery-item">
          <img src="static/imgs/1000006606.jpg" alt="Mitre Ceremony 2024 - 1" style="height: 250px;" >
        </div>
        <div class="gallery-item">
          <img src="static/imgs/1000006627.jpg" alt="Mitre Ceremony 2024 - 2" style="height: 250px;" >
        </div>
        <div class="gallery-item">
          <img src="static/imgs/1000006620.jpg" alt="Mitre Ceremony 2024 - 3" style="height: 250px;" >
        </div>
     </div>

    </div>

{% endblock %}
    
