{% extends "base.html" %}

{% block main %}

    <div class="main_con">

        <h2>About the Competition</h2>


        <p>
            The Embedded Capture the Flag (eCTF) Competition, run by MITRE, 
            is a challenge focused on designing and attacking secure embedded systems. 
            Participants first work in teams to create a secure system for an embedded device based on specific requirements. 
            In the second phase, teams analyze and attack each other’s systems, testing the security of their designs. 
            This competition offers a hands-on experience in both building and breaking embedded security systems, 
            with real physical devices involved.
        </p>

        <img scr="" alt="">

        <p>
            In the 2025 eCTF, teams will design and implement a Satellite TV system. 
            The system must securely encode and decode satellite TV data 
            streams while protecting against unauthorized access to protected channels.
        </p>

        <h3>Team registration is now open for the 2025 eCTF at</h3>

        <a href="https://share.hsforms.com/1CD8GyZ1xRuqrVQOxvzq4mg4m7ji"> Sign Up Form</a>

        <p><b> This form is only meant to be filled out by the team advisor.</b></p>

    </div>
    
 {% endblock %}