{% extends "base.html" %}

{% block main %}

    <h2>Meet Our Team - {{teams['year']}}</h2>
    <br>
    <div class="Team Image">
        <img src="{{ url_for('static', filename='imgs/teampics/' + 'teams['pic']' +'.jpg')}}" alt="team {{teams['year']}} pic">
    </div>
    <h3>{{ teams['rank']}}</h3>

    <p>Team Members</p>
    {% for name in teams['name'] %}
        <dl>
            <dt>{{ name['name'] }}</dt>
            <dd>
                <ul>
                    <li><a href="{{ name['linkedin']  }}">LinkedIn</a></li>
                </ul>
            </dd>
        </dl>
    {% endfor %}

{% endblock %}


