{% extends "base.html" %}

{% block main %}
    <div class="main_con">
        <h2>Meet Our team - {{ teams[-1]['year'] }}</h2>
        <div class="teampic">
            <!-- <img src="{{ url_for('static', filename='imgs/' + teams[-1]['pic'] + '.jpg') }}" alt="a picture of the e-Mitre from the year {{ teams[-1]['year'] }}"> -->
        </div>
        <h2>Current Team</h2>
    </div>

    <div class="main_con" id="allteams">
        <h4>Previous Team</h4>
        <ul>
            {% for team in teams %}
                <li><a href="{{team.url}}">{{team.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}